@model TaskMe.Web.ViewModels.Administration.Company.AllCompaniesViewModel

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">

            @foreach (var company in Model.Companies)
            {
                <div class="col-md-3">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="@company.CompanyPictureUrl" alt="Card image cap" height="180">
                        <div class="card-body">
                            <p class="card-text"><strong>@company.Name</strong></p>
                            <div class="d-flex justify-content-between">
                                <a asp-area="Administration" asp-controller="Company" asp-action="Delete" asp-route-id="@company.Id" class="btn btn-sm btn-outline-secondary bg-danger float-left">Delete</a>
                                <small class="text-muted float-right">Createt: @company.CreatedOn.ToShortDateString()</small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>