@model TaskMe.Web.InputModels.CreateCompanyInputModel
 
<h1 class="text-center">Company Manipulation</h1>

    <div class="row justify-content-center">
        <div class="col-md-6 text-center border border-primary">
            <form enctype="multipart/form-data" asp-controller="Company" asp-action="Create">
                <h4>Create a new company.</h4>
                <hr />
                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <dl>
                        <dt>
                            <label asp-for="Picture"></label>
                        </dt>
                        <dd>
                            <input asp-for="Picture" type="file" class="btn btn-primary">
                            <span asp-validation-for="Picture" class="text-danger"></span>
                        </dd>
                    </dl>
                </div>
                <hr />
                <button class="btn btn-primary">Create</button>
            </form>
        </div>
    </div>